*{
    margin: 0;
    padding: 0;
}
body { 

    display: grid; 

    height: 800px; 

    grid-template-areas: "head head" 

                         "nav  main" 

                         "footer  footer"; 

    grid-template-rows: 30px 1fr 30px; 

    grid-template-columns: 150px 1fr; 

  } 

   

  header { 

    grid-area: head; 

    background-color: lightsalmon; 

  } 

   

  .nav-bar { 

    grid-area: nav; 

    background-color: lightblue; 

  } 

   

  main { 

    grid-area: main; 

    background-color: lightyellow; 

  } 

   

   footer { 

    grid-area: footer; 

    background-color: firebrick; 

  } 